.header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   &__logo img {
      cursor: pointer;
      margin: 0 10px;
   }

   &__nav-links {
      display: flex;
      justify-content: space-between;

      &-link {
         & a {
            color: #40494d;
            padding-left: 70px;
         }
      }
   }

   &__info {
      img {
         margin-right: 20px;

         &:hover {
            cursor: pointer;
         }
      }
   }
}
